.profile__edit-button {
	width: 24px;
	height: 24px;
	border: 1px solid #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 35px;
	background-color: black;
	margin-left: 18px;
	background-image: url(../../../img/edit.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

@media screen and (max-width: 710px) {
	.profile__edit-button {
		width: 17px;
		height: 17px;
		top: -75px;
		left: 106px;
	}
}