.popup__form-submit:disabled {
	color: #000000;
	background-color: #E5E5E5;
	border: #000000 1px solid;
	opacity: 0.2;
	cursor: default;
}

.popup__form-submit {
	width: 100%;
	height: 50px;
	margin: 48px 0 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: white;
	background-color: black;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: background-color 0.3s linear;
}

.popup__form-submit:hover {
	background: #000000;
	opacity: 0.8;
	transition: 0.5s;
}

@media screen and (max-width: 575px) {
	.popup__form-submit {
		height: 46px;
		font-size: 14px;
		line-height: 17px;
		margin-top: 45px;
	}
}